<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.demo.repository.InquiryDAO">
    <insert id="insertInquiry" parameterType="com.reservation.demo.dto.InquiryReq">
        INSERT INTO INQUIRY_INFO (
        INQUIRY_ID, USER_ID, INQUIRY_TITLE, INQUIRY_TYPE, INQUIRY_CONTENT, REG_DT )
        VALUES (
        #{inquiryId}, #{userId}, #{inquiryTitle}, #{inquiryType}, #{inquiryContent}, NOW())
    </insert>

    <select id="inquiryIdExists" parameterType="String" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM INQUIRY_INFO
        WHERE INQUIRY_ID = #{inquiryId}
    </select>

    <select id="selectInquiryById" parameterType="String" resultType="com.reservation.demo.domain.InquiryInfo">
        SELECT INQUIRY_ID, USER_ID, INQUIRY_TITLE, INQUIRY_TYPE, INQUIRY_CONTENT
        FROM INQUIRY_INFO
        WHERE INQUIRY_ID = #{inquiryId}
    </select>

    <update id="updateInquiry" parameterType="com.reservation.demo.dto.InquiryUpdateReq">
        UPDATE INQUIRY_INFO
        SET INQUIRY_TITLE = IFNULL(#{inquiryTitle}, INQUIRY_TITLE),
        INQUIRY_TYPE = IFNULL(#{inquiryType}, INQUIRY_TYPE),
        INQUIRY_CONTENT = IFNULL(#{inquiryContent}, INQUIRY_CONTENT),
        WHERE INQUIRY_ID = #{inquiryId}
    </update>

    <delete id="cancelInquiry" parameterType="String">
        DELETE FROM INQUIRY_INFO
        WHERE INQUIRY_ID = #{inquiryId}
    </delete>
</mapper>